@page "/"

<PageTitle>Gurung2English</PageTitle>

<MudContainer>  
    <h1>Namaste and chyanjyalo !! </h1>
    <MudText>Welcome to the Gurung language glossary</MudText>     
     <MudSpacer></MudSpacer>
     <MudLink Href="https://en.wikipedia.org/wiki/Gurung_language" Class="mr-1" Target="_blank"  Color="Color.Success">For more details about Tamu Kyi : Wikipedia link</MudLink>       
</MudContainer>



